:root{
    border:2px solid black;
}

body{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    border:2px solid green;
    display:grid;
    grid-template-rows: 1fr 1.5fr;
}

.header-top, .header-bottom{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.header-buttons{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.header button{
    background-color:rgb(51, 130, 255);
    color:white;
    width:100px;
    padding:10px;
    margin:20px;
    border:none;
    border-radius: 20px;
}

.sidebar{
    border:2px solid yellow;
    grid-column: 1/2;
    grid-row:1/3;
    display:grid;
    grid-template-rows: 2fr repeat(6, 1fr) repeat(3 1fr);
    background-color: rgb(51, 172, 247);
}

.sidebar div{
    color:white;
}

.content{
    border:2px solid orange;
    display:grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    background-color: lightgray;
    gap:20px;
}

.card{
    border: none;
    border-radius: 10px;
    border-left: 10px solid orange;
    background-color: white;
    padding:10px;
}