/* Top level */
/*-------------------------------------------------------*/
body{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:1fr 8fr;
    padding:0px;
    margin:0px;
}

/* Main grid divisions */
/*-------------------------------------------------------*/
.header{
    height:clamp(180px, 10vh, 300px);
    display:grid;
    grid-column: 2/3;
    grid-template-rows:repeat(2, clamp(40px, 30%, 70px));
    padding:0px;
    margin:0px;
}

.sidebar{
    grid-column: 1/2;
    grid-row:1/3;
    display:grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(51, 172, 247);
    padding:30px;
}

.content{
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightgray;
    gap:20px;
}

/* Header */
/*-------------------------------------------------------*/
.header-top-row{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding:0px;
    margin:0px;
}

.header-bottom-row{
    display:grid;
    grid-template-columns: 4fr 1.5fr;
    align-items: center;
}
.header-top-search{
    display:grid;
    grid-template-columns:1fr 30fr;
    align-content: center;
    padding:0px;
    padding-left:20px;
}

.header-top-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:0px;
    padding-right:20px;
    font-weight: 600;
    font-size: larger;
}

.header-bottom-greeting{
    align-items: center;
    align-content: center;
    grid-column: 1/2;
    display:grid;
    grid-template-columns: 1fr 7fr;
    padding-left:20px;
    margin:0px;
    font-weight: 600;
}

.header-bottom-buttons{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right:20px;
}

.search-image{
    align-self: center;
    align-self: center;
    padding-left: 20px;
}

.search-input{
    align-self: center;
    width:40vw;
    height:25px;
    background-color: lightgray;
    border:none;
    border-radius: 15px;
    padding:0px;
    margin:20px;
}

.alerts{
    justify-content: center;
    align-content: center;
}

.profile-picture{
    align-self: center;
}

.name{
    align-self: center;
}


.header-bottom-profile-picture{
    grid-column: 1/2;
    display:grid;
    padding:20px
}

.greeting{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
}

.name-link{
    font-size: x-large;    
}

.header button{
    background-color:rgb(51, 130, 255);
    color:white;
    width:100px;
    padding:10px;
    margin:20px;
    border:none;
    border-radius: 20px;
}

input{
    margin:0px;
    padding:0px;
}



/* Sidebar */
/*-------------------------------------------------------*/
.sidebar > .left{
    color:white;
    align-items: center;
    display:grid;
    grid-template-rows: 1fr 6fr 3fr;
    height:90vh;
}
.sidebar > .right{
    color:white;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    height:90vh;
}

.home-one{
    display:grid;
    grid-template-rows: 1fr;
}

.home-two{
    display:grid;
    grid-template-rows: repeat(6, 60px);
    align-items: center;
    height:300px;
}

.home-three{
    display:grid;
    grid-template-rows: repeat(3, 60px);
    align-items:center;
    height: 200px;
}

.home{
    color:white;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(352deg) brightness(101%) contrast(102%);
}


/* Content */
/*-------------------------------------------------------*/

.cards{
    display:grid;
    grid-template-rows: 8vh 35vh 35vh 35vh;
    grid-template-columns:1fr 1fr;
}

.card{
    border: none;
    border-radius: 10px;
    border-left: 10px solid orange;
    background-color: white;
    padding:30px;
    margin:20px;
    max-height: min-content;
}

.your-projects{
    grid-column: 1/2;
    grid-row:1/2;
    padding:0px;
    padding-top:20px;
    padding-left:20px;
    margin:0px;
    align-content: end;
}

.super{
    grid-column: 1/2;
    grid-row:2/3;
}
.less{
    grid-column:2/3;
    grid-row:2/3;
}

.impossible{
    grid-column:1/2;
    grid-row:3/4;
}

.easy{
    grid-column:2/3;
    grid-row:3/4;
}

.ad{
    grid-row: 4/5;
    grid-column:1/2;
}

.money{
    grid-row:4/5;
    grid-column:2/3;
}

.announce-card{
    background-color: white;
    padding:30px;
    margin:0px;
    margin-right:20px;
}

.announcements-area, .trending-area{
    background-color: white;
    padding:30px;
    margin:0px;
    margin-right:20px;
    border-radius: 10px;
}

.solid-divider{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.right-content{
    display:grid;
    grid-template-rows: 8vh 58vh 8vh 58vh;
}

.trending{
    padding-top:20px;
}