/* Top level */
body{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    padding:0px;
    margin:0px;
}

/* Main grid divisions */
.header{
    display:grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 1.5fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row:1/3;
    display:grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(51, 172, 247);
    padding:30px;
}

.content{
    display:grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    background-color: lightgray;
    gap:20px;
}

/* Second level grid divisions */

.header-top-row{
    display: grid;
    grid-template-columns: 4fr 1.25fr;
    align-items: center;
    height: 50px;
}

.header-bottom-row{
    display:grid;
    grid-template-columns: 4fr 1.5fr;
}

.sidebar > .left{
    color:white;
    align-items: center;
    display:grid;
    grid-template-rows: 1fr 6fr 3fr;
}
.sidebar > .right{
    color:white;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
}

.home-one{
    display:grid;
    grid-template-rows: 1fr;
}

.home-two{
    display:grid;
    grid-template-rows: repeat(6, 60px);
    align-items: center;
    height:300px;
}

.home-three{
    display:grid;
    grid-template-rows: repeat(3, 60px);
    align-items:center;
    height: 200px;
}

.card{
    border: none;
    border-radius: 10px;
    border-left: 10px solid orange;
    background-color: white;
    padding:10px;
}


/* Third level grid divisions */

.header-top-search{

}

.header-top-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-bottom-greeting{

}

.header-bottom-buttons{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}




/* Fourth level grid divisions */

.search-image{

}

.search-input{
    width:40vw;
    height:25px;
    background-color: lightgray;
    border:none;
    border-radius: 15px;
}

.header-bottom-profile-picture{

}

.alerts{
    justify-content: center;
    align-content: center;
}

.greeting{

}

.header-bottom-buttons{

}

.new-button, .share-button, .upload-button{

}








.hi, .name-link{
    
}




.header button{
    background-color:rgb(51, 130, 255);
    color:white;
    width:100px;
    padding:10px;
    margin:20px;
    border:none;
    border-radius: 20px;
}


.home{
    color:white;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(352deg) brightness(101%) contrast(102%);
}